BasedOnStyle: LLVM
Language: Cpp
Standard: Latest
IndentWidth: 4
ColumnLimit: 100

# alignment
AlignConsecutiveBitFields:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
AlignConsecutiveMacros:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
QualifierAlignment: Right

# single-line items
AllowShortBlocksOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty

# line breaks
AlwaysBreakTemplateDeclarations: true
BreakAfterAttributes: Always
BreakBeforeCloseBracketBracedList: true
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon

# indentation
IndentPPDirectives: BeforeHash

# other
BinPackParameters: false
PackConstructorInitializers: Never
PenaltyReturnTypeOnItsOwnLine: 10000