# =========================
# IDE/Editor
# =========================

.vscode/
.idea/
.vs/
.clangd/

# =========================
# Build
# =========================

compile_commands.json
cmake-build*/
*build/
build*/
*.profraw
