# Global

stages:
  - Formatting
  - Linux Builds
  - Windows Builds
  - macOS Builds
  - Vulkan Testing
  - Analysis

variables:
  GIT_SUBMODULE_STRATEGY: recursive

# Formatting Jobs
Source Files:
  stage: Formatting
  image: docker.io/stabletec/build-foe:fedora
  allow_failure: true
  tags:
    - container
    - linux
    - amd64
  script:
    - cmake . -B build -G Ninja
    - cmake --build build --target format
    - git diff --exit-code

CMake Files:
  stage: Formatting
  image: docker.io/stabletec/build-foe:fedora
  allow_failure: true
  tags:
    - container
    - linux
    - amd64
  script:
    - cmake . -B build -G Ninja
    - cmake --build build --target cmake-format
    - git diff --exit-code

Shell Files:
  stage: Formatting
  image: docker.io/stabletec/build-foe:fedora
  allow_failure: true
  tags:
    - container
    - linux
    - amd64
  script:
    - for FILE in $(find . | grep -e "\.sh$"); do echo ">> For File - $FILE"; shfmt -i 4 $FILE > $FILE.tmp; mv $FILE.tmp $FILE; chmod +x $FILE; done
    - git submodule foreach --recursive git reset --hard
    - git diff --exit-code

Python Files:
  stage: Formatting
  image: docker.io/stabletec/build-foe:fedora
  allow_failure: true
  tags:
    - container
    - linux
    - amd64
  script:
    - for FILE in $(find . | grep -e "\.py$"); do echo ">> For File - $FILE"; autopep8 -i $FILE; done
    - git submodule foreach --recursive git reset --hard
    - git diff --exit-code

# Platform Stage Templates

.linux_template: &linux_template
  stage: Linux Builds
  needs: []
  dependencies: []
  script:
    # combined engine/skunkworks build
    - cmake -S . -B build -G Ninja -D CMAKE_BUILD_TYPE=${BUILD_TYPE} -D CMAKE_INSTALL_PREFIX=$(pwd)/install-test -D BUILD_TESTS=ON  ${CMAKE_OPTIONS}
    - cmake --build build
    # tests
    - ctest --test-dir build --build-config ${BUILD_TYPE} --output-on-failure
    # install engine build
    - cmake --install build
    # separated skunkworks build
    - cmake -S skunkworks -B build-skunkworks -G Ninja -D CMAKE_BUILD_TYPE=${BUILD_TYPE} -D CMAKE_PREFIX_PATH=$(pwd)/install-test ${CMAKE_OPTIONS}
    - cmake --build build-skunkworks

.platform_macos_template: &platform_macos_template
  stage: macOS Builds
  needs: []
  dependencies: []
  script:
    # combined engine/skunkworks build
    - cmake -S . -B build -G Ninja -D CMAKE_BUILD_TYPE=${BUILD_TYPE} -D CMAKE_INSTALL_PREFIX=$(pwd)/install-test -D BUILD_TESTS=ON ${CMAKE_OPTIONS}
    - cmake --build build
    # tests
    - ctest --test-dir build --output-on-failure
    # install engine build
    - cmake --install build --config ${BUILD_TYPE}
    # separated skunkworks build
    - cmake -S skunkworks -B build-skunkworks -G Ninja -D CMAKE_BUILD_TYPE=${BUILD_TYPE} -D CMAKE_PREFIX_PATH=$(pwd)/install-test ${CMAKE_OPTIONS}
    - cmake --build build-skunkworks

.platform_windows_template: &platform_windows_template
  stage: Windows Builds
  image: docker.io/stabletec/build-foe:windows-ltsc2025-${VISUAL_STUDIO_VERSION}
  tags:
    - container
    - windows
    - amd64
    - ltsc2025
  needs: []
  dependencies: []
  script:
    # combined engine/skunkworks build
    - cmake -S . -B build -G Ninja -D CMAKE_BUILD_TYPE="$env:BUILD_TYPE" -D CMAKE_INSTALL_PREFIX="$(pwd)\install-test" -D CMAKE_PREFIX_PATH="C:\" -D BULLET_ROOT="C:\bullet" -D BUILD_TESTS=ON $env:CMAKE_OPTIONS
    - cmake --build build
    # tests
    - ctest --test-dir build --output-on-failure
    # install engine build
    - cmake --install build
      # separated skunkworks build
    - cmake -S skunkworks -B build-skunkworks -G Ninja -D BUILD_TESTS=ON -D CMAKE_BUILD_TYPE="$env:BUILD_TYPE" -D CMAKE_PREFIX_PATH="$(pwd)\install-test;C:\" -D BULLET_ROOT="C:\bullet" $env:CMAKE_OPTIONS
    - cmake --build build-skunkworks

.platform_msys_template: &platform_msys_template
  stage: Windows Builds
  image: stabletec/build-foe:msys-ltsc2025-${MSYS_SUBSYSTEM}
  tags:
    - container
    - windows
    - ${ARCH}
    - ltsc2025
  needs: []
  dependencies: []
  script:
    # set the directory bash will start in
    - $env:HOME="$(cygpath -u $(pwd))"
    # combined engine/skunkworks build
    - bash.exe -lc "cmake -S . -B build -G Ninja -D CMAKE_BUILD_TYPE=${BUILD_TYPE} -D CMAKE_INSTALL_PREFIX=$(pwd)/install-test -D BUILD_TESTS=ON ${CMAKE_OPTIONS}"
    - bash.exe -lc "cmake --build build"
    # tests
    - bash.exe -lc "ctest --test-dir build --output-on-failure"
    # separated engine build
    - bash.exe -lc "cmake --install build"
    # separated skunkworks build
    - bash.exe -lc "cmake -S skunkworks -B build-skunkworks -G Ninja -D CMAKE_BUILD_TYPE=${BUILD_TYPE} -D CMAKE_PREFIX_PATH=$(pwd)/install-test ${CMAKE_OPTIONS}"
    - bash.exe -lc "cmake --build build-skunkworks"

# Arch

Arch/GCC Static:
  parallel:
    matrix:
      - ARCH: [amd64]
        BUILD_TYPE: [Release, Debug]
  image: docker.io/stabletec/build-foe:arch
  tags:
    - container
    - linux
    - ${ARCH}
  variables:
    CC: gcc
    CXX: g++
  <<: *linux_template

Arch/GCC Shared:
  parallel:
    matrix:
      - ARCH: [amd64]
        BUILD_TYPE: [Release, Debug]
  image: docker.io/stabletec/build-foe:arch
  tags:
    - container
    - linux
    - ${ARCH}
  variables:
    CC: gcc
    CXX: g++
    CMAKE_OPTIONS: -D BUILD_SHARED_LIBS=ON
  <<: *linux_template

Arch/Clang Static:
  parallel:
    matrix:
      - ARCH: [amd64]
        BUILD_TYPE: [Release, Debug]
  image: docker.io/stabletec/build-foe:arch
  tags:
    - container
    - linux
    - ${ARCH}
  variables:
    CC: clang
    CXX: clang++
  <<: *linux_template

Arch/Clang Shared:
  parallel:
    matrix:
      - ARCH: [amd64]
        BUILD_TYPE: [Release, Debug]
  image: docker.io/stabletec/build-foe:arch
  tags:
    - container
    - linux
    - ${ARCH}
  variables:
    CC: clang
    CXX: clang++
    CMAKE_OPTIONS: -D BUILD_SHARED_LIBS=ON
  <<: *linux_template

# Debian

Debian/GCC Static:
  parallel:
    matrix:
      - ARCH: [amd64, arm64, ppc64le, riscv64]
        BUILD_TYPE: [Release]
  image: docker.io/stabletec/build-foe:debian
  tags:
    - container
    - linux
    - ${ARCH}
  variables:
    CC: gcc
    CXX: g++
    CMAKE_OPTIONS: -D XR_SUPPORT=OFF
  <<: *linux_template

Debian/GCC Shared:
  parallel:
    matrix:
      - ARCH: [amd64, arm64, ppc64le, riscv64]
        BUILD_TYPE: [Release]
  image: docker.io/stabletec/build-foe:debian
  tags:
    - container
    - linux
    - ${ARCH}
  variables:
    CC: gcc
    CXX: g++
    CMAKE_OPTIONS: -D BUILD_SHARED_LIBS=ON -D XR_SUPPORT=OFF
  <<: *linux_template

Debian/Clang Static:
  parallel:
    matrix:
      - ARCH: [amd64, arm64, ppc64le, riscv64]
        BUILD_TYPE: [Release]
  image: docker.io/stabletec/build-foe:debian
  tags:
    - container
    - linux
    - ${ARCH}
  variables:
    CC: clang
    CXX: clang++
    CMAKE_OPTIONS: -D XR_SUPPORT=OFF
  <<: *linux_template

Debian/Clang Shared:
  parallel:
    matrix:
      - ARCH: [amd64, arm64, ppc64le, riscv64]
        BUILD_TYPE: [Release]
  image: docker.io/stabletec/build-foe:debian
  tags:
    - container
    - linux
    - ${ARCH}
  variables:
    CC: clang
    CXX: clang++
    CMAKE_OPTIONS: -D BUILD_SHARED_LIBS=ON -D XR_SUPPORT=OFF
  <<: *linux_template

# Fedora

Fedora/GCC Static:
  parallel:
    matrix:
      - ARCH: [amd64, arm64]
        BUILD_TYPE: [Release]
  image: docker.io/stabletec/build-foe:fedora
  tags:
    - container
    - linux
    - ${ARCH}
  variables:
    CC: gcc
    CXX: g++
  <<: *linux_template

Fedora/GCC Shared:
  parallel:
    matrix:
      - ARCH: [amd64, arm64]
        BUILD_TYPE: [Release]
  image: docker.io/stabletec/build-foe:fedora
  tags:
    - container
    - linux
    - ${ARCH}
  variables:
    CC: gcc
    CXX: g++
    CMAKE_OPTIONS: -D BUILD_SHARED_LIBS=ON
  <<: *linux_template

Fedora/Clang Static:
  parallel:
    matrix:
      - ARCH: [amd64, arm64]
        BUILD_TYPE: [Release]
  image: docker.io/stabletec/build-foe:fedora
  tags:
    - container
    - linux
    - ${ARCH}
  variables:
    CC: clang
    CXX: clang++
  <<: *linux_template

Fedora/Clang Shared:
  parallel:
    matrix:
      - ARCH: [amd64, arm64]
        BUILD_TYPE: [Release]
  image: docker.io/stabletec/build-foe:fedora
  tags:
    - container
    - linux
    - ${ARCH}
  variables:
    CC: clang
    CXX: clang++
    CMAKE_OPTIONS: -D BUILD_SHARED_LIBS=ON
  <<: *linux_template

# macOS

macOS/AppleClang Static:
  parallel:
    matrix:
      - ARCH: [arm64]
        BUILD_TYPE: [Release]
        TOOLING_ENVIRONMENT: [xcode, xclt]
  tags:
    - macos
    - ${ARCH}
    - ${TOOLING_ENVIRONMENT}
  <<: *platform_macos_template

macOS/AppleClang Shared:
  parallel:
    matrix:
      - ARCH: [arm64]
        BUILD_TYPE: [Release]
        TOOLING_ENVIRONMENT: [xcode, xclt]
  tags:
    - macos
    - ${ARCH}
    - ${TOOLING_ENVIRONMENT}
  variables:
    CMAKE_OPTIONS: -D BUILD_SHARED_LIBS=ON
  <<: *platform_macos_template

macOS/Clang Static:
  parallel:
    matrix:
      - ARCH: [arm64]
        BUILD_TYPE: [Release]
        TOOLING_ENVIRONMENT: [xclt]
  tags:
    - macos
    - ${ARCH}
    - ${TOOLING_ENVIRONMENT}
  variables:
    CC: clang
    CXX: clang++
  <<: *platform_macos_template

macOS/Clang Shared:
  parallel:
    matrix:
      - ARCH: [arm64]
        BUILD_TYPE: [Release]
        TOOLING_ENVIRONMENT: [xclt]
  tags:
    - macos
    - ${ARCH}
    - ${TOOLING_ENVIRONMENT}
  variables:
    CC: clang
    CXX: clang++
    CMAKE_OPTIONS: -D BUILD_SHARED_LIBS=ON
  <<: *platform_macos_template

# openSUSE

openSUSE/GCC Static:
  parallel:
    matrix:
      - ARCH: [amd64, arm64]
        BUILD_TYPE: [Release]
  image: docker.io/stabletec/build-foe:opensuse
  tags:
    - container
    - linux
    - ${ARCH}
  variables:
    CC: gcc
    CXX: g++
  <<: *linux_template

openSUSE/GCC Shared:
  parallel:
    matrix:
      - ARCH: [amd64, arm64]
        BUILD_TYPE: [Release]
  image: docker.io/stabletec/build-foe:opensuse
  tags:
    - container
    - linux
    - ${ARCH}
  variables:
    CC: gcc
    CXX: g++
    CMAKE_OPTIONS: -D BUILD_SHARED_LIBS=ON
  <<: *linux_template

openSUSE/Clang Static:
  parallel:
    matrix:
      - ARCH: [amd64, arm64]
        BUILD_TYPE: [Release]
  image: docker.io/stabletec/build-foe:opensuse
  tags:
    - container
    - linux
    - ${ARCH}
  variables:
    CC: clang
    CXX: clang++
  <<: *linux_template

openSUSE/Clang Shared:
  parallel:
    matrix:
      - ARCH: [amd64, arm64]
        BUILD_TYPE: [Release]
  image: docker.io/stabletec/build-foe:opensuse
  tags:
    - container
    - linux
    - ${ARCH}
  variables:
    CC: clang
    CXX: clang++
    CMAKE_OPTIONS: -D BUILD_SHARED_LIBS=ON
  <<: *linux_template

# Windows

Windows/MSVC Static:
  parallel:
    matrix:
      - ARCH: [amd64]
        BUILD_TYPE: [Release]
        VISUAL_STUDIO_VERSION: [vs2019, vs2022, vs2026]
  <<: *platform_windows_template

Windows/MSVC Shared:
  parallel:
    matrix:
      - ARCH: [amd64]
        BUILD_TYPE: [Release]
        VISUAL_STUDIO_VERSION: [vs2019, vs2022, vs2026]
  variables:
    CMAKE_OPTIONS: -D BUILD_SHARED_LIBS=ON
  <<: *platform_windows_template

Windows/Clang-cl Static:
  parallel:
    matrix:
      - ARCH: [amd64]
        BUILD_TYPE: [Release]
        VISUAL_STUDIO_VERSION: [vs2019, vs2022, vs2026]
  variables:
    CC: clang-cl
    CXX: clang-cl
  <<: *platform_windows_template

Windows/Clang-cl Shared:
  parallel:
    matrix:
      - ARCH: [amd64]
        BUILD_TYPE: [Release]
        VISUAL_STUDIO_VERSION: [vs2019, vs2022, vs2026]
  variables:
    CC: clang-cl
    CXX: clang-cl
    CMAKE_OPTIONS: -D BUILD_SHARED_LIBS=ON
  <<: *platform_windows_template

Windows/Clang Static:
  parallel:
    matrix:
      - ARCH: [amd64]
        BUILD_TYPE: [Release]
        VISUAL_STUDIO_VERSION: [vs2019, vs2022, vs2026]
  variables:
    CC: clang
    CXX: clang
  <<: *platform_windows_template

Windows/Clang Shared:
  parallel:
    matrix:
      - ARCH: [amd64]
        BUILD_TYPE: [Release]
        VISUAL_STUDIO_VERSION: [vs2019, vs2022, vs2026]
  variables:
    CC: clang
    CXX: clang
    CMAKE_OPTIONS: -D BUILD_SHARED_LIBS=ON
  <<: *platform_windows_template

MSYS/GCC Static:
  parallel:
    matrix:
      - ARCH: [amd64]
        BUILD_TYPE: [Release]
        MSYS_SUBSYSTEM: [ucrt64, mingw64]
  <<: *platform_msys_template

MSYS/GCC Shared:
  parallel:
    matrix:
      - ARCH: [amd64]
        BUILD_TYPE: [Release]
        MSYS_SUBSYSTEM: [ucrt64, mingw64]
  variables:
    CMAKE_OPTIONS: -D BUILD_SHARED_LIBS=ON
  <<: *platform_msys_template

MSYS/Clang Static:
  parallel:
    matrix:
      - ARCH: [amd64]
        BUILD_TYPE: [Release]
        MSYS_SUBSYSTEM: [clang64]
  variables:
    CC: clang
    CXX: clang++
  <<: *platform_msys_template

MSYS/Clang Shared:
  parallel:
    matrix:
      - ARCH: [amd64]
        BUILD_TYPE: [Release]
        MSYS_SUBSYSTEM: [clang64]
  variables:
    CC: clang
    CXX: clang++
    CMAKE_OPTIONS: -D BUILD_SHARED_LIBS=ON
  <<: *platform_msys_template

# Vulkan Testing

.vulkan_template: &vulkan_template
  stage: Vulkan Testing
  needs: []
  dependencies: []
  script:
    - ./libs/foe_graphics_vk/tools/check_matching_device.sh --device-index 0 --device-name ${GPU}
    - cmake . -B build -G Ninja -D BUILD_TESTS=ON -D BUILD_VULKAN_RUNTIME_TESTS=ON -D CMAKE_BUILD_TYPE=${BUILD_TYPE} ${CMAKE_OPTIONS}
    - cmake --build build --target test_foe_graphics_vk
    - ./build/libs/foe_graphics_vk/test/test_foe_graphics_vk

Debian Vulkan HW Testing:
  parallel:
    matrix:
      - ARCH: [amd64]
        GPU: [amd_navi23, amd_vega10, amd_ellesmere, intel_a380, intel_mtl]
  image: docker.io/stabletec/build-foe:debian
  tags:
    - container
    - linux
    - ${ARCH}-${GPU}
  variables:
    CC: clang
    CXX: clang++
  <<: *vulkan_template

Debian Vulkan SW Testing:
  parallel:
    matrix:
      - ARCH: [amd64, arm64, ppc64le, riscv64]
  image: docker.io/stabletec/build-foe:debian
  tags:
    - container
    - linux
    - ${ARCH}
  variables:
    CC: clang
    CXX: clang++
    GPU: llvmpipe
  <<: *vulkan_template

Fedora Vulkan HW Testing:
  parallel:
    matrix:
      - ARCH: [amd64]
        GPU: [amd_navi23, amd_vega10, amd_ellesmere, intel_a380, intel_mtl]
  image: docker.io/stabletec/build-foe:fedora
  tags:
    - container
    - linux
    - ${ARCH}-${GPU}
  variables:
    CC: clang
    CXX: clang++
  <<: *vulkan_template

Fedora Vulkan SW Testing:
  parallel:
    matrix:
      - ARCH: [amd64, arm64, ppc64le, s390x]
  image: docker.io/stabletec/build-foe:fedora
  tags:
    - container
    - linux
    - ${ARCH}
  variables:
    CC: clang
    CXX: clang++
    GPU: llvmpipe
  <<: *vulkan_template

macOS Vulkan HW Testing:
  parallel:
    matrix:
      - ARCH: [arm64]
        GPU: [apple_m1]
  tags:
    - macos
    - ${ARCH}-${GPU}
  <<: *vulkan_template

# Analysis Stage Templates

.analysis_template: &analysis_template
  stage: Analysis
  image: docker.io/stabletec/build-foe:fedora
  parallel:
    matrix:
      - ARCH: [amd64, arm64]
  tags:
    - container
    - linux
    - ${ARCH}
  needs: []
  dependencies: []
  script:
    - cmake . -B build -G Ninja -D CMAKE_BUILD_TYPE=Release -D BUILD_VULKAN_RUNTIME_TESTS=ON -D BUILD_TESTS=ON -D DISABLE_PLUGIN_UNLOAD=ON ${CMAKE_OPTIONS}
    - cmake --build build
    - ctest --test-dir build --output-on-failure

# Analysis

Static Analysis:
  stage: Analysis
  image: docker.io/stabletec/build-foe:fedora
  tags:
    - container
    - linux
    - amd64
  needs: []
  dependencies: []
  variables:
    CC: clang
    CXX: clang++
  script:
    - cmake . -B build -G Ninja -D CMAKE_BUILD_TYPE=Release -D BUILD_VULKAN_RUNTIME_TESTS=ON -D CLANG_TIDY=ON -D CPPCHECK=ON
    - cmake --build build

Code Coverage:
  stage: Analysis
  image: docker.io/stabletec/build-foe:fedora
  tags:
    - container
    - linux
    - amd64
  needs: []
  dependencies: []
  variables:
    CC: clang
    CXX: clang++
  script:
    - cmake . -B build -G Ninja -D CMAKE_BUILD_TYPE=Release -D BUILD_VULKAN_RUNTIME_TESTS=ON -D CODE_COVERAGE=ON -D BUILD_TESTS=ON
    - cmake --build build
    - cmake --build build --target ccov
    - cmake --build build --target ccov-all
    - cmake --build build --target ccov-report
    - cmake --build build --target ccov-all-report
  artifacts:
    name: CodeCoverage
    paths:
      - build/ccov
    expire_in: 1 day

ThreadSanitizer:
  variables:
    TSAN_OPTIONS: suppressions=${CI_PROJECT_DIR}/tsan.suppressions
    CC: clang
    CXX: clang++
    CMAKE_OPTIONS: -D SANITIZER=Thread
  <<: *analysis_template

AddressSanitizer:
  variables:
    ASAN_OPTIONS: detect_leaks=0
    CC: clang
    CXX: clang++
    CMAKE_OPTIONS: -D SANITIZER=Address -D BUILD_VULKAN_RUNTIME_TESTS=OFF
  <<: *analysis_template

LeakSanitizer:
  variables:
    CC: clang
    CXX: clang++
    CMAKE_OPTIONS: -D SANITIZER=Leak -D BUILD_VULKAN_RUNTIME_TESTS=OFF
  <<: *analysis_template

UndefinedSanitizer:
  variables:
    CC: clang
    CXX: clang++
    CMAKE_OPTIONS: -D SANITIZER=Undefined
  <<: *analysis_template
