# =========================
# IDE/Editor
# =========================

.cache/
.vscode/
.idea/
.vs/
.clangd/

# =========================
# OS
# =========================

.DS_Store

# =========================
# Build
# =========================

compile_commands.json
cmake-build*/
*build/
build*/
*.profraw

# =========================
# Other
# =========================

*.ini
*.spv
