[submodule "cmake"]
	path = cmake
	url = https://git.stabletec.com/other/cmake-scripts.git
[submodule "external/vulkan_mini_libs/vulkan-mini-libs-2"]
	path = external/vulkan_mini_libs/vulkan-mini-libs-2
	url = https://git.stabletec.com/utilities/vulkan-mini-libs-2.git
[submodule "external/imgui/imgui"]
	path = external/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/imgui_file_dialog/ImGuiFileDialog"]
	path = external/imgui_file_dialog/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
